@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

:root{
    --font1: 'Sriracha', 'cursive' ;
    --font2: 'Passion One', 'cursive' ;
    --font3:  ;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;   
    font-variant: small-caps;
}
/*text-transform: uppercase; - Aumenta todas as letras*/
header > p {
    padding-bottom: 50px;
}

header a, footer a{
    font-weight: 800;
    text-decoration: none;
    color: white;
}
header a:hover, footer a:hover{
    text-decoration: underline; 
}

section{
    padding-top: 10% ;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(87, 86, 86);
    color: white;

}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.178);
    width: 400px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}