@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif; 
    --font2: 'Passion One', 'cursive' ;
    --font3: 'Sriracha', 'cursive' ;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}



header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font2);
}

header > h1 {
    padding-top: 50px;   
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 3.7em;
}

/*text-transform: uppercase; - Aumenta todas as letras*/
header > p {
    padding-bottom: 50px;
}

header a, footer a{
    font-weight: 800;
    text-decoration: none;
    color: white;
    font-family: var(--font1);
}
header a:hover, footer a:hover{
    text-decoration: underline; 
}

section{
    padding-top: 10% ;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.3vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(87, 86, 86);
    color: white;

}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.178);
    display: inline-block;
    padding: 5px; 
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    font-family: var(--font1);
}